apiVersion: apps/v1
kind: Deployment
metadata:
  name: my-app
  labels:
    app: my-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: my-app
  template:
    metadata:
      labels:
        app: my-app
    spec:
      containers:
        - name: my-app
          # Use a locally built image for Docker Desktop Kubernetes
          image: my-k8s-app:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8000


